<!DOCTYPE html>
<html>
	<head>
		<title><%= (typeof title === 'undefined') ? 'quakejs.com' : title + ' - quakejs.com' %></title>
		<link rel="stylesheet" href="<%- furl('/css/bootstrap.css') %>"></link>
		<link rel="stylesheet" href="<%- furl('/css/font-awesome.min.css') %>"></link>
		<link rel="stylesheet" href="<%- furl('/css/main.css') %>"></link>
		<%- stylesheets %>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37328221-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<%- scripts %>
	</head>
	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a href="/" class="navbar-brand">quakejs</a>
					<ul class="nav pull-right">
						<li><a href="/">Home</a></li>
						<li><a href="/discuss">Discuss</a></li>
					</ul>
				</div>
			</div>
		</div>

		<% var errors = getErrors(); %>
		<% if (errors && errors.length > 0) { %>
			<div id="errors" class="container">
				<div class="row">
					<div class="span12">
						<% errors.forEach(function (error) { %>
							<div class="alert alert-error"><%= error %></div>
						<% }); %>
					</div>
				</div>
			</div>
		<% } %>
		<%- body %>
	</body>
</html>
