<td><%= info.ping %></td>
<td><%= info.gamename %></td>
<td><%= quakeColor.htmlEscapeWithColor(info.sv_hostname) %></td>
<td><%= info.mapname %></td>
<td><%= info.players.length %> / <%= info.sv_maxclients %></td>
<td><span>Join&nbsp;<i class="icon-chevron-right"></i></span></td>
