<td><%= info.ping %></td>
<td><%= info.game ? info.game : "baseq3" %></td>
<td><%= quakeColor.htmlEscapeWithColor(info.hostname) %></td>
<td><%= info.mapname %></td>
<td style="text-align: center"><%= info.g_humanplayers %> / <%= info.g_botplayers %> / <%= info.sv_maxclients %>
</td>
<td><span>Join&nbsp;<i class="icon-chevron-right"></i></span></td>
