<td><%= htmlEscape(info.ping) %></td>
<td><%= htmlEscape(info.game ? info.game : "baseq3") %></td>
<td><%= quakeColor.htmlEscapeWithColor(info.hostname) %></td>
<td><%= htmlEscape(info.mapname) %></td>
<td>
  <%= htmlEscape(info.g_humanplayers) %> / <%= htmlEscape(info.sv_maxclients) %>
  <% if (info.g_botplayers > 0) { %>
    <span style="color: #666666">+ <%= info.g_botplayers %> bot<%= info.g_botplayers > 1 ? "s" : "" %></span>
  <% } %>
</td>
<td><span>Join&nbsp;<i class="icon-chevron-right"></i></span></td>
